body{
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5e5;
    box-sizing: border-box;
}
.topo{
    width: 100%;
    height: 90px;
    background-color: #cf2b2b;
    position: fixed;
    top: 0px;
	left: 0px;
    box-shadow: 0px 5px 8px rgba(0, 10, 10, 0.5);
    z-index:1;
}
.container-topo{
    width: 100%;
    height: 90px;
    padding-left: 20px;
    padding-top: 10px;
}
.logo{
    font-family: righteous;
    font-size: 44px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 5px;
}
.slogan{
    font-family: roboto;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}
/*tem que colocar no logo AS SOMBRAS*/
.espacamento{
    height: 115px;
    width: 100%;
}
.feed{
    align-items: center;
    margin-left: 20px;
}
.op1{
    display: flex;
    overflow-x: scroll;
    box-sizing: border-box;

}
.op2{
    display: flex;
    overflow-x: scroll;
    box-sizing: border-box;

}
.op3{
    display: flex;
    overflow-x: scroll;
    box-sizing: border-box;

}
.titulo{
    font-family: righteous;
    font-size: 26px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 20px;
}
.container-prato{
    width: 172px;
    height: 216px;
    background-color: #ffffff;
    border-radius: 9px;
    margin-right: 15px;
    box-shadow: 0px 1px 5px rgba(0, 10, 10, 0.5);
    position: relative;
}
.container-bebida{
    width: 172px;
    height: 216px;
    background-color: #ffffff;
    border-radius: 9px;
    margin-right: 15px;
    box-shadow: 0px 1px 5px rgba(0, 10, 10, 0.5);
    position: relative;
}
.container-sobremesa{
    width: 172px;
    height: 216px;
    background-color: #ffffff;
    border-radius: 9px;
    margin-right: 15px;
    box-shadow: 0px 1px 5px rgba(0, 10, 10, 0.5);
    position: relative;
}
.foto{
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin: 15px 15px;
    object-fit: cover;
}
.nome-prato{
    font-family: roboto;
    font-weight: 700;
    font-size: 16px;
    color: #333333;
    margin-left: 15px;
    margin-bottom: 10px;
}
.desc-prato{
    font-family: roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 15px;
}
.espacamento2{
    height: 10px;
}
.valor{
    margin-left: 15px;
    font-family: roboto;
    font-weight: 400;
    font-size: 16px;
}

.finalizar-pedido{
    background-color: #ffffff;
    height:80px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.botao-finalizar{
    width: 90%;
    background-color: #cbcbcb;
    border-radius: 50px;
    align-items: center;
    text-align: center;
    margin: 15px auto;
    border: none;
}
.text-finalizar{
    font-family: roboto;
    font-weight: 400;
    font-size: 20px;
    padding-top: 3px;
    color: #ffffff;
}
.espacamento3{
    height: 20px;
    width: 100%;
}
.espacamento4{
    height: 100px;
}
.simb-check{
    position: absolute;
    left: 140px;
    bottom: 12px;
    display: none;
}
.op1 .borda > .simb-check,
.op2 .borda > .simb-check,
.op3 .borda > .simb-check{
    display: block;
}
.borda{
    border: 4px solid #32B72F;
}
.colorir{
    background-color:#32B72F;
    font-family: roboto;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    padding: 13px 2px;
}